input[type="text"], input[type="password"] {
	border-radius: 5px;
}

div.basicbox{
	text-align: center;
	border-radius: 5px;
	background-color: #FFA7A7;
	padding : 10px;
}

.btt{
	width: 90%;
	border: 0;
	font-size: 1em;
	border-radius: 5px;
	background-color: red;
	color:yellow;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 15px 10px 0;
	text-align: center;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}

.btt:hover{
	background-color: #CC3D3D;
}

.bttproperty{
	cursor: pointer;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}
.bttproperty:hover{
	background-color: #CC3D3D;
}

div.center{
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;

}

form[name="hwf"] {
	display: inline-block;
	text-align: left;
}

.label-login {
	display: inline-block;
	width: 80px;
	padding-bottom: 10px;
}

.label-signup {
	display: inline-block;
	width: 120px;
	padding-bottom: 10px;
}

.logo {
	width:300px;
}
